*~
*.pyc
*.pyo

# build stuff
_upload
_version
debian/.debhelper
debian/debhelper-build-stamp
debian/noris-csv2graph*
debian/files

# python stuff
__pycache__/
*.py[cod]
*$py.class
venv

# ide
.vs
.idea

# personal testing
test*.py
test/*.png
test/*.pdf
test/*.csv
test/*.py
