#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python3

override_dh_auto_install:
	mkdir -p debian/$(shell dh_listpackages)/usr/bin
	install -m 0755 csv2graph.py debian/$(shell dh_listpackages)/usr/bin/csv2graph
